<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rankerspoint.academy" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" /> <!-- //<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" tools:node="remove" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" tools:node="remove"></uses-permission> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- // <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" -->
    <!-- tools:ignore="ScopedStorage" /> -->
    <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" /> -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowAudioPlaybackCapture="false"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning" >
        <activity
            android:name=".Activity.SubjectActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GoExamMentorPost"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewAllCouse_SubCategory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewAllFeeQuizListDashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Free_View_AllVideo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GetHomeAllResults"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewAll_QuizTestSeries"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MocktestViewAnswerWebView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ResultWebView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MockTestWebView"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SaveNotesAllPdfandNotes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditCommentMentor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewDemo"
            android:exported="false" />
        <activity
            android:name=".Activity.MentorCommentReply"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MentorCommentHome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MentorPostSingleTestDescription"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MentorPost"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LiveClassesVideo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LiveClassesListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PaymentSuccessfully"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VideoSeriesList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.YourExamsList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.YourPdfNotesOffline"
            android:exported="false" />
        <activity
            android:name=".Activity.PdfViewDemo"
            android:exported="false" />
        <activity
            android:name=".Activity.DailyNewsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DailyGK"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ForgetPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VideoSeries"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HomePdfNotesCategory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".Activity.HomeNotesPdf"
            android:exported="false"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".Activity.TopicQuizIndividual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TopicWisePdf"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EmailRegister"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PaymentCheckOut"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewMockTestSeries"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PdfReaderFile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OfflineVideoList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ExoplayerOffline"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.MockQuestionAttempts"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MockSeriesListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MockTestSeries"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ExoYoutPlayer"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.EmbadedPlayer"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.Otp_Verification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GetAllResults"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ViewAnswerKey"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Mobile_Registration"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllQuestionAttempt"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ExamSeries"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Results"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.YourProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SingleDoubtDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllDoubtsCourse"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyDoubts"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Doubts_Topic"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".Activity.YoutubePlayerClasses" -->
        <!-- android:configChanges="orientation" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="landscape" /> -->
        <activity
            android:name=".Activity.Indiviual_Topic"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SyllabusSingle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MultiTabSyllabus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.YoutubePlayerLiveClasses"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".Activity.SingleCourseDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GetAllCourseSubCategory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.No_Internet_Conn"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SubCategoryClass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PrePareExam"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Splash"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Dashboard"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_WIOWLoUYoFNRDh" /> <!-- android:value="rzp_test_Ak8EOYClho3ZDJ" /> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/my_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red_500" /> <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_channel_id" -->
        <!-- android:value="@string/default_notification_channel_id" /> -->
        <!-- <service android:name="com.eyeedu.educationapp.notifications.MyFirebaseInstanceIdService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>